// 顶部头上的整条样式
.e_row_header{
  padding 5px 0px 0px 15px
  .el-button{
    height 28px
    line-height 28px
    padding 0px 20px
    margin 0px 5px
    .iconfont{
      font-size 14px
      margin-right 5px
    }
  }
}

// 页面上通用的圆角样式
.e_common{
  height 100%
  background-color white
  border-radius 10px
  border 1px solid gainsboro
}
