// 顶部头上的整条样式
.e_row_header{
  padding 5px 0px 0px 15px
  .el-button{
    height 28px
    line-height 28px
    padding 0px 20px
    margin 0px 5px
    .iconfont{
      font-size 14px
      margin-right 5px
    }
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 页面上通用的圆角样式
.e_common{
  height 100%
  background-color white
  border-radius 10px
  border 1px solid gainsboro
}

// 设置表格样式
.el-table th{
  padding 10px 0px;
  color #505050
  font-weight:bold !important;
  font-weight 900;
  background-color #f0f0f0 !important
}
.el-table td{
  padding 6px 0px !important;
}

  // 弹出框dailog样式
.el-dialog__header{
  padding 8px 0px !important
  text-align center
  background-color #409eff
}
.el-dialog__title{
  color #e4e7ed !important
  font-size 20px !important
  font-family "华文中宋"
}
.el-dialog__body{
  .el-row{
    line-height 30px
  }
  .el-input__inner{
    line-height 30px
    height 30px
  }

}
